body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

#mycanvas {
    border: 1px solid;
}

button {
    display: block;
    padding: 10px;
    font-size: 20px;
}

.controls {
    padding-left: 25px;
    display: flex;
    justify-content: left;
}

.app {
    display: flex;
    justify-content: space-evenly;
}

pre {
    height: 100%;
    width: 30%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #fafafa;
    padding: 5px;
}